In [7]:
import pandas as pd
import re

In [ ]:
df = pd.read_parquet(r'C:\Projects\Recomender System\data\processed\ratings_movies.parquet')

df.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], dtype='object')

In [11]:
df.head()

,userId,movieId,rating,timestamp,title,genres,clean_genres,clean_title,text
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,Comedy Crime Drama Thriller,Pulp Fiction,Pulp Fiction Comedy Crime Drama Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,Drama,Three Colors: Red (Trois couleurs: Rouge),Three Colors: Red (Trois couleurs: Rouge) Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,Drama,Three Colors: Blue (Trois couleurs: Bleu),Three Colors: Blue (Trois couleurs: Bleu) Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War,Comedy Drama War,Underground,Underground Comedy Drama War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance,Comedy Musical Romance,Singin' in the Rain,Singin' in the Rain Comedy Musical Romance

In [5]:
df['clean_genres'] = df['genres'].str.replace('|', ' ', regex=False)

In [8]:
def clean_title(title):
    return re.sub(r'\(\d{4}\)', '', title).strip()

df['clean_title'] = df['title'].apply(clean_title)

In [10]:
df['text'] = df['clean_title'] + ' ' + df['clean_genres']

In [12]:
df_movies_unique = df[['movieId', 'clean_title', 'clean_genres', 'text']].drop_duplicates('movieId')
print(df_movies_unique.shape)
df_movies_unique.head()

(59047, 4)

,movieId,clean_title,clean_genres,text
0,296,Pulp Fiction,Comedy Crime Drama Thriller,Pulp Fiction Comedy Crime Drama Thriller
1,306,Three Colors: Red (Trois couleurs: Rouge),Drama,Three Colors: Red (Trois couleurs: Rouge) Drama
2,307,Three Colors: Blue (Trois couleurs: Bleu),Drama,Three Colors: Blue (Trois couleurs: Bleu) Drama
3,665,Underground,Comedy Drama War,Underground Comedy Drama War
4,899,Singin' in the Rain,Comedy Musical Romance,Singin' in the Rain Comedy Musical Romance

In [13]:
df_movies_unique.to_parquet(r'C:\Projects\Recomender System\data\processed\movies_for_content_based.parquet', index=False)

In [14]:
df_movies_unique[df_movies_unique['text'].str.contains('Comedy', case=False)].head()

,movieId,clean_title,clean_genres,text
0,296,Pulp Fiction,Comedy Crime Drama Thriller,Pulp Fiction Comedy Crime Drama Thriller
3,665,Underground,Comedy Drama War,Underground Comedy Drama War
4,899,Singin' in the Rain,Comedy Musical Romance,Singin' in the Rain Comedy Musical Romance
6,1175,Delicatessen,Comedy Drama Romance,Delicatessen Comedy Drama Romance
12,2011,Back to the Future Part II,Adventure Comedy Sci-Fi,Back to the Future Part II Adventure Comedy Sc...